.logo-brand {
    color: #FF8B42;
}
.btn-home {
    background-color: #FF8B42;
    
    border: 0;
    padding: 14px 30px;
}
.btn-home-2 {
    color: #FF8B42;
    background-color: white;
    font-size: small;
    padding: 13px 29px;
}
.btn-home:hover {
    color: #FF8B42;
    background-color: white;
    border: 0;
}
.nav-arrow {
    width: 20px;
}
.link-nav {
    color: white;
    font-size: smaller;
}
.link-nav:hover {
    color: rgba(255, 255, 255, 0.7);
}
.icon-bg {
    background-color: #FF8B42;
    padding: 5px;
}
.w-40 {
    width: 40%;
}
.w-15 {
    width: 15%;
}
.w-60 {
    width: 60%;
}
.arrow-up {
    background-color: #FF8B42;
    position: absolute;
    right: 4%;
    bottom: 17%;
}
footer {
    position: relative;
    padding-top: 50px;
}
.banner {
    margin-bottom: 100px;
    margin-top: 100px;
}
.banner-txt {
    font-size: smaller;
}
.banner h1 {
    font-weight: bold;
}
.banner-img-1 {
    position: relative;
}
.w-10 {
    width: 10%;
}
.two-doc-ver {
    margin-right: 3%;
}
.person-b-1 {
    position: absolute;
    bottom: 7%;
    left: 3%;
    z-index: 1;
   
}
.banner-img-2 {
    position: relative;
}
.banner-dot-2 {
    position: absolute;
    bottom: -2%;
    left: -22%;
}
.person-b-2 {
    position: absolute;
    bottom: 0;
}
.w-35 {
    width: 35%;
}
.cli-segments {
    color: white;
    background-color: #6E27E0;
    padding-right: 0;
    padding-left: 0;
}
.services-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}
.w-20 {
    width: 20%;
}
.service-title {
    font-weight: bold;
}
.achievements-bg {
    padding: 100px 0;
    margin: 80px auto;
    background-image: linear-gradient(180deg, rgba(0, 137, 186, 0.00) 0%, rgba(76, 7, 188, 0.83) 100%), url('Images/achivements-img.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.w-30 {
    width: 30%;
}
.pos-rel-db {
    position: relative;
}
.card-sl-pos {
    position: relative;
    width: 45%;
}
.card-sl-pos-a {
    width: 60%;
}
.right-pos {
    position: absolute;
    left: -5%;
    top: 40%;
    z-index: 1;
}
.left-pos {
    position: absolute;
    right: -5%;
    top: 40%;
    z-index: 1;
}
/* .card-h {
    height: 500px;    linear-gradient(180deg, rgba(110, 39, 224, 0.81) 0%, rgba(110, 39, 224, 0.81) 100%)
} */
.pt-fd {
    background-image: url('Images/Rectangle\ 41.png'), url('Images/Rectangle\ 40.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 80px;
    margin-bottom: 80px;
    padding-top: 4%;
    padding-bottom: 8%;
}
.pt-fd article {
    margin: 0 6%;
}
.w-5 {
    width: 5%;
}
.w-80 {
    width: 80%;
}
.pt-desg {
    color: #FF8B42;
}
.date-ev {
    position: absolute;
    top: 4%;
    right: 4%;
    background-color: rgba(95, 29, 201, 0.5);
}
.subscriber {
    background-color: #0089BA;
    margin-top: 200px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
}
.sub-img-pos {
    position: absolute;
    width: 315px;
    bottom: 0;
    left: 6%;
}
.subscriber article {
    padding: 150px 20px;
}
.sub-dot-img {
    width: 30%;
    padding-top: 40px;
}
.subscriber-sec {
    position: relative;
}
.subscriber-img-pos {
    position: absolute;
    right: 0;
    top: -30%;
    z-index: -1;
    width: 15%;
}
.sick-child {
    background-image: url('Images/Rectangle\ 46.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;
}
.sick-child-sec {
    margin: auto 6%;
}
.sick-child-sec article {
    padding: 80px;
   
}
.sick-c-pos {
    position: absolute;
    width: 20%;
    top: 25%;
    right: 10%;
}
.sick-kid-btn {
    position: absolute;
    background-color: white;
    top: 4%;
    left: 0;
}
.sick-kid-btn-2 {
    background-color: white;
    position: absolute;
    bottom: 20%;
    right: -10%;
}
.doc-schd-sect {
    margin-top: 100px;
}
.doc-schd img {
    background-color: #FF8B42;
}
.doc-schd-pos-1 {
    position: absolute;
    left: 0;
    bottom: 0;
}
.doc-schd-pos-2 {
    position: absolute;
    left: -30%;
    top: 7%;
}
.doc-schd-pos-3 {
    position: absolute;
    right: -5%;
    top: -5%;
}
.doc-schd-div-1 {
    margin: auto 5%; 
}
.doc-schd-div-2 {
    margin-right: 15%; 
    margin-left: 2%; 
}
.doc-schd-div-2 h2 {
    margin-bottom: 70px;
}
.doc-schd-div-2 .border-dark {
    margin-top: 30px;
    padding-bottom: 20px;
}
.doc-schd-div-2 .msl-5 {
    margin-left: 100px;
   
}
